<template>
  <div class="Customer q-mt-xl">
      <div class="row q-mt-lg">
            <q-card style="width: 100%">
                <q-card-section class="text-h5 text-bold poppins">
                    Criar/Editar Cliente
                </q-card-section>
                <q-form @submit="onSubmit">
                    <q-card-section>
                        <div class="row">
                            <q-input style="width:100%" v-model="form.name" label="Nome" placeholder="Escreva seu nome" required/>
                        </div>
                        <div class="row">
                            <q-input style="width:100%" v-model="form.email" label="E-mail" placeholder="email@email.com" required/>
                        </div>
                        <div class="row">
                            <q-input ref="cpf" style="width:100%" error-message="Número de CPF Inválido" :error="!isValid" label="CPF" v-model="form.cpf" maxlength="14" mask="###.###.###-##" unmasked-value reverse-fill-mask placeholder="111.111.111-11" required/>
                        </div>
                    </q-card-section>
                    <q-card-actions align="around" class="q-mt-md">
                        <q-btn label="Limpar" icon="clear" color="warning" @click="onReset" />
                        <q-btn label="Incluir Cliente" :loading="loading" type="submit" icon="check" color="secondary" />
                    </q-card-actions>
                </q-form>
            </q-card>
      </div>
  </div>
</template>

<script>
import apiClient from 'src/services/api'
export default {
  name: 'Customer',
  props: {
    editCustomer: Object
  },
  data () {
    return {
      form: {},
      loading: false,
      isValid: true
    }
  },
  methods: {
    onSubmit () {
      this.loading = true
      // if (this.validateCPF(this.form.cpf) === false) {
      //   this.isValid = false
      // } else {
      const url = 'api/create-customer'
      const data = {
        params: {
          data: this.form
        }
      }

      apiClient.get(url, data).then(response => {
        console.log(response.data)
        this.loading = false
      }).catch(error => {
        if (error.response) {
          this.loading = false
          console.log(error.response.data)
          console.log(error.response.status)
          console.log(error.response.headers)
        } else if (error.request) {
          // this.handleError()
          this.loading = false
          console.log(error.request)
        } else {
          // Something happened in setting up the request and triggered an Error
          // this.handleError()
          this.loading = false
          console.log('Error', error.message)
        }
      })
      // }
    },
    onReset () {
      this.$q.notify({
        message: 'Você deseja limpar os dados?',
        color: 'primary',
        actions: [
          {
            label: 'Limpar',
            color: 'yellow',
            handler: () => {
              this.form.name = null
              this.form.cpf = null
              this.form.email = null
              this.isValid = true
            }
          },
          { label: 'Cancelar', color: 'white', handler: () => { /* ... */ } }
        ]
      })
    },
    validateCPF (strCPF) {
      var Soma
      var Resto
      var i

      strCPF = String(strCPF)
      strCPF = strCPF.replace(/[^0-9]/g, '')
      // strCPF = parseInt(strCPF);

      Soma = 0
      if (strCPF === '00000000000') return false
      if (strCPF === '11111111111') return false
      if (strCPF === '22222222222') return false
      if (strCPF === '33333333333') return false
      if (strCPF === '44444444444') return false
      if (strCPF === '55555555555') return false
      if (strCPF === '66666666666') return false
      if (strCPF === '77777777777') return false
      if (strCPF === '88888888888') return false
      if (strCPF === '99999999999') return false

      for (i = 1; i <= 9; i++) Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (11 - i)
      Resto = (Soma * 10) % 11

      if ((Resto === 10) || (Resto === 11)) Resto = 0
      if (Resto !== parseInt(strCPF.substring(9, 10))) return false

      Soma = 0
      for (i = 1; i <= 10; i++) Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (12 - i)
      Resto = (Soma * 10) % 11

      if ((Resto === 10) || (Resto === 11)) Resto = 0
      if (Resto !== parseInt(strCPF.substring(10, 11))) return false
      return true
    }
  },
  watch: {
    editCustomer: function (value) {
      this.isValid = true
      this.form = value
    }
  }
}
</script>

<style>

</style>
