<template>
  <div class="CustomerList">
    <div class="row q-mt-lg">
      <div class="text-h3 text-bold poppins">
        Clientes
      </div>
    </div>
    <!-- <div class="row q-mt-md">
      <q-btn icon="person_add" color="secondary" label="Adicionar Cliente" @click="addCustomer"/>
    </div> -->
    <div class="row q-mt-lg">
      <q-table
        :grid="$q.screen.xs"
        :data="customers"
        :rows="total"
        :columns="columns"
        row-key="name"
        :filter="filter"
        style="width: 100%"
        :loading="loading"
      >
        <template v-slot:top-right>
          <q-input dense debounce="300" v-model="filter" @input="tableNavigation('api/search-customer?data=' + filter)" placeholder="Pesquisar" hint="Clique na lupa para pesquisar em todos os resultados.">
            <template v-slot:append>
              <q-btn icon="search" flat  />
            </template>
          </q-input>
        </template>
        <template v-slot:body="props">
        <q-tr :props="props" style="cursor:pointer" >
          <q-tooltip :delay="1000">
            Clique para ver as movimentações do cliente
          </q-tooltip>
          <q-td key="id" :props="props" @click="details(props.row)">
            {{props.row.id}}
          </q-td>
          <q-td key="name" :props="props" @click="details(props.row)">
            {{props.row.name}}
          </q-td>
          <q-td key="action" :props="props">
            <q-btn round push size="sm" color="amber-5" icon="edit" @click="editCustomer(props.row)"/>
            <q-btn class="q-ml-sm" round push  size="sm" color="negative" icon="delete" @click="deleteCustomer(props.row)"/>
          </q-td>
        </q-tr>
        </template>
        <template v-slot:pagination="">
        <q-btn
          v-if="pagination.rowsNumber > 2"
          icon="first_page"
          color="grey-8"
          round
          dense
          flat
          :disable="pagination.isFirstPage"
          @click="tableNavigation(pagination.firstPage)"
        />

        <q-btn
          icon="chevron_left"
          color="grey-8"
          round
          dense
          flat
          :disable="pagination.isFirstPage"
           @click="tableNavigation(pagination.prevPage)"
        />

        <q-btn
          icon="chevron_right"
          color="grey-8"
          round
          dense
          flat
          :disable="pagination.isLastPage"
           @click="tableNavigation(pagination.nextPage)"
        />

        <q-btn
          v-if="pagination.rowsNumber > 2"
          icon="last_page"
          color="grey-8"
          round
          dense
          flat
          :disable="pagination.isLastPage"
          @click="tableNavigation(pagination.lastPage)"
        />
      </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import apiClient from 'src/services/api'
export default {
  name: 'CustomerList',
  data () {
    return {
      filter: '',
      selected: [],
      pagination: {},
      columns: [
        {
          name: 'id',
          label: '#',
          align: 'left',
          field: row => row.id
        },
        { name: 'name', align: 'left', label: 'Cliente', field: row => row.name },
        { name: 'action', label: '' }
      ],
      customers: [],
      total: '',
      loading: false
    }
  },
  mounted () {
    this.tableNavigation('api/customer-list')
  },
  methods: {
    addCustomer () {
      this.$emit('new-customer', 'oi')
    },
    editCustomer (value) {
      this.$emit('edit-customer', value)
    },
    deleteCustomer (value) {
      this.$q.notify({
        message: 'Você deseja excluir o cliente?',
        color: 'primary',
        actions: [
          {
            label: 'Cancelar', color: 'white', handler: () => { /* ... */ }
          }, {
            label: 'Prosseguir',
            color: 'yellow',
            handler: () => {
              console.log('excluir')
            }
          }
        ]
      })
    },
    details (value) {
      this.$router.push({ path: '/details/1' })
    },
    tableNavigation (value) {
      this.loading = true
      const url = value

      apiClient.get(url).then(response => {
        this.customers = response.data.data
        console.log(response.data)
        this.pagination.rowsNumber = response.data.total
        this.pagination.page = response.data.current_page
        if (this.pagination.page === 1) {
          this.pagination.isFirstPage = true
        } else {
          this.pagination.isFirstPage = false
        }

        if (this.pagination.page === this.pagination.rowsNumber) {
          this.pagination.isLastPage = true
        } else {
          this.pagination.isLastPage = false
        }
        this.pagination.nextPage = response.data.next_page_url
        this.pagination.prevPage = response.data.prev_page_url
        this.pagination.firstPage = response.data.first_page_url
        this.pagination.lastPage = response.data.last_page_url
        this.loading = false
      }).catch(error => {
        if (error.response) {
          this.loading = false
          console.log(error.response.data)
          console.log(error.response.status)
          console.log(error.response.headers)
        } else if (error.request) {
        // this.handleError()
          this.loading = false
          console.log(error.request)
        } else {
        // Something happened in setting up the request and triggered an Error
        // this.handleError()
          this.loading = false
          console.log('Error', error.message)
        }
      })
    }
  }
}
</script>

<style>

</style>
