/* app global css */
@font-face {
    font-family: raleway;
    src: local("raleway"),url("../assets/fonts/raleway-bold-webfont.ttf") format("truetype");
  }
  
  @font-face {
    font-family: poppins;
    src: local("poppins"),url("../assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
  }
  
  .poppins {
    font-family: 'poppins';
  }
  
  .raleway {
      font-family: 'raleway';
  }
  