<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title>
            <q-img width="150px" src="../assets/img/Grupo-34.svg"/>
        </q-toolbar-title>
        <div>
          <q-btn-dropdown
            color="cyan-6"
            label="Importar Movimentações"
            icon="upload"
            :loading="loading"
          >
            <div class="row q-pa-md justify-center">
              <q-input
                @input="val => { files = val }"
                multiple
                filled
                type="file"
                hint="Selecione os arquivos."
              />
            </div>
            <div class="row justify-center">
              <q-btn class="q-my-md" label="Enviar Arquivos" push color="secondary" @click="uploadFiles(files)"/>
            </div>
          </q-btn-dropdown>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import apiClient from 'src/services/api'
export default {
  data () {
    return {
      files: null,
      loading: false
    }
  },
  methods: {
    uploadFiles (files) {
      this.loading = true
      const url = 'api/import-data'
      const data = {
        params: {
          data: files
        }
      }
      const config = {
        header: {
          enctype: 'multipart/form-data'
        }
      }

      apiClient.get(url, data, config).then(response => {
        console.log(response.data)
        this.loading = false
      }).catch(error => {
        if (error.response) {
          this.loading = false
          console.log(error.response.data)
          console.log(error.response.status)
          console.log(error.response.headers)
        } else if (error.request) {
          // this.handleError()
          this.loading = false
          console.log(error.request)
        } else {
          // Something happened in setting up the request and triggered an Error
          // this.handleError()
          this.loading = false
          console.log('Error', error.message)
        }
      })
      // }
    }
  }
}
</script>
