<template>
  <div class="Details">
    <div class="row q-ml-md q-mt-lg">
      <div class="text-h3 poppins">
        <!-- {{id}} -->
        Maria da Silva
      </div>
    </div>
    <div class="row q-ml-md q-mt-lg ">
      <div class="col-3">
        <q-card style="width: 100%">
          <q-card-section class="bg-grey-4">
            <div class="row items-center">
              <div class="col text-h5 text-bold poppins">
                Posições
              </div>
              <div class="col">
                <q-input v-model="date" filled type="date"/>
              </div>
            </div>
          </q-card-section>
          <q-separator />
          <q-card-section>
            <div class="row">
              <div class="col">
                IVVB11
              </div>
              <div class="col">
                R$ 240,59
              </div>
            </div>
            <div class="row">
              <div class="col">
                BOVA11
              </div>
              <div class="col">
                R$ 121,17
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-2">
            <q-badge class="q-mx-sm" color="primary">IVVB11</q-badge>
            <q-badge class="q-mx-sm" color="secondary">BOVA11</q-badge>
            <q-badge class="q-mx-sm" color="primary">IVVB11</q-badge>
            <q-badge class="q-mx-sm" color="secondary">BOVA11</q-badge>
          </div>
          <div class="col-9 q-mr-sm">
            <details-chart></details-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="footer q-mt-lg">
      <q-btn icon="chevron_left" label="Voltar" color="primary" to="/"/>
    </div>
  </div>
</template>

<script>
import DetailsChart from 'src/components/DetailsChart.vue'
import moment from 'moment'
export default {
  components: { DetailsChart },
  name: 'Details',
  data () {
    return {
      id: '',
      date: ''
    }
  },
  mounted () {
    this.id = this.$router.currentRoute.params.props
    this.date = moment().format('yyyy-mm-DD')
    console.log(this.date)
  }
}
</script>

<style>

</style>
