<template>
  <div class="Index">
    <div class="row justify-center">
      <div class="col-8">
        <customer-list @new-customer="customer = true; customerDetails = false" @edit-customer="editCustomer" @details="customer = false; customerDetails = true"></customer-list>
      </div>
      <div class="col-3">
        <customer class="q-ml-lg" :edit-customer="editData"></customer>
      </div>
    </div>
  </div>
</template>

<script>
import CustomerList from 'src/components/CustomerList.vue'
import Customer from 'src/components/Customer.vue'
export default {
  components: { CustomerList, Customer },
  name: 'Index',
  data () {
    return {
      customer: false,
      details: false,
      customerDetails: false,
      editData: {}
    }
  },
  methods: {
    editCustomer (value) {
      this.customer = true
      this.customerDetails = false
      this.$nextTick(() => {
        this.editData = value
      })
    }
  }
}
</script>

<style>

</style>
